<form action="/results" method="post">
  <label for="hour">What hour is it?</label>
  <input type="number" name="hour">
  <label for="minute">How many minutes are there?</label>
  <input type="number" name="minute">
  <button type="submit">Submit</button>
</form>
